@model Department
@{
    ViewData["Title"] = "New";
}

<form method="post" asp-action="SaveNew" asp-controller="Department">
    <div>
        <!--Tag Heler-->
        <label asp-for="Name"></label>
        @*<label>Name</label>*@
        <input class="form-control" asp-for="Name" />
        @*<input type="text" name="Name" value="@Model.Name" class="form-control" />*@
        <a asp-action="Details" asp-fragment="up" asp-route-deptid="1"></a>
    </div>
    <div>
        <label>ManagerName</label>
        <input type="text" name="ManagerName" value="@Model.ManagerName" class="form-control" />
    </div>
    <input type="submit" value="Add" class="btn btn-success"/>
</form>