@model ImageViewModel
@{
    ViewData["Title"] = "Index";
    
}
<img src="~/Images/@Model.imageFile.FileName" width="200" alt="No File" />


@*
    <h1>@ViewBag.Count</h1>
<form method="post" action="/Count/Increment">
    <input type="submit" value="Count" class="btn btn-success" />
</form>
*@

