@model Course
@{
    

    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form method="post" asp-action="SaveEdit" asp-route-id="@Model.Id" asp-controller="Course">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" asp-controller="Course" />
    </div>
    <div>
        <label asp-for="Degree"></label>
        <input asp-for="Degree" class="form-control"  asp-controller="Course"/>
    </div>
    <div>
        <label asp-for="minDegree"></label>
        <input asp-for="minDegree" class="form-control" asp-controller="Course" />
    </div>
    <div>
        <label asp-for="Department.Name"></label>
        <input asp-for="Department.Name" class="form-control" asp-controller="Course" />
    </div>
    <input type="submit" class="btn btn-success" asp-controller="Course" />
</form>

