@model Course
@{
    ViewData["Title"] = "New";
}

<h1>New</h1>

<form asp-action="SaveNew" asp-controller="Course" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>

    </div>
    <div>
		<label asp-for="Degree"></label>
        <input asp-for="Degree" class="form-control" />
        <span asp-validation-for="Degree" class="text-danger"></span>

    </div>
    <div>
        <label asp-for="minDegree"></label>
        <input asp-for="minDegree" class="form-control" />
        <span asp-validation-for="minDegree" class="text-danger"></span>

    </div>

    
    <div>
    <label asp-for="Dept_Id">Department</label>
    <input asp-for="Dept_Id" class="form-control" />
    <span asp-validation-for="Dept_Id" class="text-danger"></span>

    </div>
    
    <br /> <br />
    <input type="submit" class="btn btn-success" />
</form>
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}